@import url('./overrides.scss');

::-webkit-scrollbar{width:2px;}
::-webkit-scrollbar{height:1px;}
::-webkit-scrollbar-track{background-color:#ccc;}
::-webkit-scrollbar-thumb{background-color:#000;}
::-webkit-scrollbar-thumb:hover {background-color:#9c3}
::-webkit-scrollbar-thumb:active {background-color:#00aff0}