/**
* vuetifyjs
*/
$primary: #270645;


$grid-breakpoints: (
    'md': 640px,
    'lg': 1220px,
);

$container-max-widths: (
    'md': 100%,
    'lg': 1220px,
);

$toolbar-content-padding-x: 0;
$toolbar-content-padding-y: 0;

